<% include partials/header %>
<div class="container">
    <div class="row ">
        <div style="margin: 0 auto">
            <h1 class="display-2 text-success" style="text-align:center">LOGIN</h1>
            <form action="/login" method="POST">
                <div class="form-group">
                    <div class="form-group">
                        <label><strong>Enter username</strong></label>
                        <input type="text" class="form-control" name="username" placeholder="enter name" required/>
                    </div>
                    <div class="form-group">
                        <label><strong>Enter password</strong></label>
                        <input type="password" class="form-control" name="password" placeholder="enter password" required/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-block btn-outline-success">LOGIN</button></button>
                    </div>
                </div>
            </form>
            <a href="/movielist" class="btn btn-outline-warning">Go back</a>
    </div>
</div>
<% include partials/footer%>